<div class="row">
    <div class="col-sm-12">
        <h1>Users</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mat-form-field style="width: 100%;">
            <input #searchInput
                   matInput
                   placeholder="Code, Name..."
                   (keyup.enter)="search(searchInput.value)">
        </mat-form-field>
    </div>
</div>

<table mat-table
       [dataSource]="users">

    <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef>#</th>
        <td mat-cell
            *matCellDef="let element"
            class="id">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell
            *matHeaderCellDef>Code</th>
        <td mat-cell
            *matCellDef="let element">{{element.code}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef>Nome</th>
        <td mat-cell
            *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="profileImage">
        <th mat-header-cell
            *matHeaderCellDef>Profile image</th>
        <td mat-cell
            *matCellDef="let element"
            class="profile-image">
            <img [src]="element.profileImageUrl"
                 [alt]="element.name">
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>Actions</th>
        <td mat-cell
            *matCellDef="let element"
            class="actions">

            <button mat-stroked-button
            title="Details"
                    color="primary"
                    (click)="openDetails(element.id)">
                <mat-icon>badge</mat-icon>
            </button>

            <button mat-stroked-button
            title="Edit"
                    color="primary"
                    (click)="openForm(element.id)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-stroked-button
            title="Delete"
                    color="warn"
                    (click)="deleteUser(element)">
                <mat-icon>close</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: tableColumns;"
        class="user"></tr>
</table>

<div style="text-align: center; padding: 10px;">
    <button mat-flat-button
            color="primary"
            (click)="loadMore()">More...</button>
</div>

<button (click)="openForm()"
        mat-fab
        color="primary"
        class="btn-add">
    <mat-icon>add</mat-icon>
</button>