table {
    width: 100%;

    .user {
        .id {
            font-weight: bold;
        }

        .profile-image {
            img {
                height: 65px;
                padding: 8px 0;
            }
        }

        .actions {

            button {
                margin-right: 8px;
            }

            :last-child {
                margin-right: 0;
            }
        }
    }
}

.btn-add {
    position: fixed;
    bottom: 26px;
    right: 30px;
}
