.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    text-align: center;

    .profile-image {
        img {
            width: 50%;
        }
    }

    .header {
        .name {
            font-size: 24px;
            font-weight: bold;
        }

        .code {
            font-size: 12px;
            font-weight: bold;
            color: #888;
        }
    }

    .birth-date {
        .label {
            font-size: 12px;
        }

        .value {
            font-size: 22px;
        }
    }

    .created-at {
        font-size: 12px;
    }
}
